<header id="page-topbar" class="isvertical-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="index" class="logo logo-dark">
          <span class="logo-sm">
            <img src="/assets/images/logo-sm.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="/assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
          </span>
        </a>

        <a href="index" class="logo logo-light">
          <span class="logo-sm">
            <img src="/assets/images/logo-sm.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="/assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>

    <div class="d-flex">

      <div class="dropdown d-inline-block">
        <a class="dropdown-item" href="/logout"><i class='bx bx-log-out text-muted font-size-18 align-middle me-1'></i> <span class="align-middle">Logout</span></a>
      </div>
    </div>
  </div>
</header>
